<div class="skills">
  <div class="pane9x">
    <div class="grid">
      @for (group of groups; track group.title) {
        <fieldset class="group9x">
          <legend>{{ group.title }}</legend>
          <ul class="items">
            @for (item of group.items; track item) {
              <li>{{ item }}</li>
            }
          </ul>
        </fieldset>
      }
    </div>

    <fieldset class="group9x langs">
      <legend>Spoken languages</legend>
      <p>Native Portuguese · Technical English</p>
    </fieldset>
  </div>

  <div class="statusbar">
    <span class="grow">{{ groups.length }} categories</span>
    <span>Properties</span>
  </div>
</div>
