<div class="projects">
  <div class="toolbar">
    <a
      class="btn9x"
      [href]="profile.github"
      target="_blank"
      rel="noreferrer noopener"
    >
      All repositories
    </a>
    <span class="path">C:\portfolio\projects</span>
  </div>

  <div class="listing sunken">
    <div class="head-row">
      <span class="col-name">Name</span>
      <span class="col-lang">Language</span>
      <span class="col-stack">Stack</span>
    </div>

    <ul class="rows">
      @for (project of projects; track project.name) {
        <li (dblclick)="onDoubleClick(project.repo)">
          <button
            type="button"
            class="row"
            [class.is-selected]="selected().name === project.name"
            (click)="select(project)"
          >
            <span class="col-name">
              <app-pixel-icon
                [name]="project.featured ? 'floppy' : 'notepad'"
                [size]="16"
              />
              {{ project.name }}
            </span>
            <span class="col-lang">
              <i class="dot" [style.background]="colorFor(project)"></i>
              {{ project.language }}
            </span>
            <span class="col-stack">{{ project.stack.join(", ") }}</span>
          </button>
        </li>
      }
    </ul>
  </div>

  <div class="details">
    <div class="pane9x">
      <h3>{{ selected().name }}</h3>
      <p class="blurb">{{ selected().blurb }}</p>

      <div class="links">
        @if (selected().repo; as repo) {
          <a
            class="btn9x"
            [href]="repo"
            target="_blank"
            rel="noreferrer noopener"
            >Source code</a
          >
        } @else {
          <button type="button" class="btn9x" disabled>Private source</button>
        }
        @if (selected().demo; as demo) {
          <a
            class="btn9x"
            [href]="demo"
            target="_blank"
            rel="noreferrer noopener"
            >Demo</a
          >
        }
        @if (selected().learnMore; as more) {
          <a
            class="btn9x"
            [href]="more"
            target="_blank"
            rel="noreferrer noopener"
            >Learn more</a
          >
        }
      </div>
    </div>
  </div>

  <div class="statusbar">
    <span class="grow">{{ projects.length }} objects</span>
    <span>{{ selected().name }}</span>
  </div>
</div>
